// H5PFontAwesome4
$video: "\f008";
$audio: "\f028";
$image: "\f03e";
$questionnaire: "\f022";
$fileForDownload: "\f019";
$questionset: "\f128";

// 360-image
$goToScene: "\f124";
$scene: "\e915";


$dropdown: "\f062";
$setStartScene: "\f08d";
$openScene: "\f062";
$edit: "\f040";
$delete: "\f1f8";
// 360-image
$scene: "\e915";

$clone: "\f0c5";

$threeSixtyScene: "\e902";

$noscene: "\e900";

// H5PFontIcons
$summary: "\e992";
$singleChoiceSet: "\e993";
$imageSlider: "\e921";

$close: "\e916";
$noicon: "\1F605";
$audioOn: "\e90a";
$audioOff: "\e904";
$sceneDescription: "\e909";

// 360-image
$info: "\e906";
$question: "\e905";
$goToStart: "\e917";
$goBack: "\e903";
$reset: "\e901";
$submitdialog: "\2744";
$info-mark: "\e91a";
$lock-icon: "\e91b";
$unlock-icon: "\e91c";
$arrow-horiz-scale: "\e91d";
$arrow-verti-scale: "\e91e";
$text-block: "\e91f";

$triangleArrow: "\e913";
$scoreSummary: "\e912";
$multiChoice: "\e605";

$checkmark: "\2713";

$crossword: "\e924";
$blanks: "\e994";
