@use "@styles/icons";


  .h5p_text:before {
    content: 'T';
    font-family: 'H5PFontAwesome4';
  }

  .h5p_advancedtext:before {
    content: 'T';
    font-family: 'H5PFontAwesome4';
  }

  .h5p_image:before {
    content: icons.$image;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_audio:before {
    content: icons.$audio;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_video:before {
    content: icons.$video;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_questionnaire:before {
    content: icons.$questionnaire;
    font-family: 'H5PFontAwesome4';
    margin-top:2px;
  }

  .h5p_file_for_download:before {
    content: icons.$fileForDownload;
    font-family: 'H5PFontAwesome4';
    padding:0;
  }

  .h5p_go_to_scene:before {
    content: icons.$goToScene;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_imageslider:before,
  .h5p_singlechoiceset:before,
  .h5p_summary:before {
    font-family: "H5PFontIcons";
    content: icons.$summary;
  }

  .h5p_singlechoiceset:before {
    content: icons.$singleChoiceSet;
  }

  .h5p_imageslider:before {
    content: icons.$imageSlider;
  }


.hotspot{
  width: 25px;
  height: 25px;
  color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;

  // transparent  background
  background-color: #475ec4;
  outline: 1px solid #000;
  cursor: pointer;
  z-index: 1;
  display:flex;
  justify-content: center;
  align-items: center;

}

.hotspot-label {
  position: absolute;
  left: 30px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1em;
  color: #000;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  cursor: pointer;
  @media (max-width: 768px) {
    display: none;
  }
}
